


<head>
    <meta charset="utf-8" />
    <title>{{tpl_pagetitle()}} | {{conf.title}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    {{ tpl_metaheaders(false)|raw }}
    <link rel="stylesheet" href="{{tpl_basedir}}/public/css/main.css?v=12574">
    {% include "partials/colors.twig" with {'colors': colors} %}
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="shortcut icon" sizes="16x16" href="{{tpl_basedir}}/public/img/favicon/favicon_de-{{tld}}_16.png" />
    <link rel="shortcut icon" sizes="32x32" href="{{tpl_basedir}}/public/img/favicon/favicon_de-{{tld}}_32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{tpl_basedir}}/public/img/favicon/favicon_de-{{tld}}_180.png">
</head>