

{% if menu %}
	
	<div @click.away="open = false" class="relative" x-data="{ open: false }">
		<a @click="open = !open" :class="{'md:bg-gray-200': open}" class="menu-item">
			<i class="material-icons md:hidden mr-4">{{item.icon}}</i><span class="flex-1 md:flex-none">{{item.title}}</span>
			<i class="md:hidden transition-transform duration-200 transform material-icons" :class="{'open': open, '': !open}">expand_more</i>
			<i class="hidden md:inline-block transition-transform duration-200 transform material-icons" :class="{'open': open, '': !open}">arrow_drop_down</i>
		</a>
		<div style="display: none" x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="md:absolute md:right-0 w-full md:mt-2 origin-top-right rounded-md md:shadow-lg md:w-48 z-30">
			<div class="pl-4 md:pl-0 md:bg-white md:rounded-tl rounded-br">
				{% for item in menu %}
				<a href="{{item.link}}" class="
					{% if item.current %} bg-gray-200-lighter text-gray{% endif %} 
					{{ item.first ? "rounded-tl "}}
					{{ item.last ? "rounded-br "}}
					md:text-lg md:text-base text-white md:text-gray-900 block pl-10 md:px-4 py-2 font-semibold bg-transparent md:mt-0 hover:text-primary-contrast hover:bg-primary" href="#">{{item.title}}</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}