<div class="fixed top-0 bg-white z-40 right-0 left-0 mr-4 lg:mr-10 h-20">
	<div x-data="{ open: false, searchbox: false, newPageModal: false, newPagePath: '{{id}}:', newTitle: '' }" class="flex flex-col h-full md:items-end md:justify-between md:flex-row">

		<div class="flex justify-between h-full items-end flex-row py-1">
			<div class="-mb-5 ml-4 md:ml-8 z-50">
				<a alt="{{tpl_inc ~ 'public/img/logo.svg'}}" href="/">{% include "partials/logo.twig" with {'size': 70, 'fill': 'fill-primary'} %}</a>
			</div>
			{% if ( acl.edit and act == "show" ) %}
				<div class="bubble-menu"><a href="/{{id}}?do=edit" class=""><span><i class="material-icons">edit</i></span></a>
					<div class="bubble-submenu">
						<a href="#" @click="newPageModal = true"><span class="bubble-icon"><i class="material-icons">note_add</i></span><span class="bubble-description">Neue Seite</span></a> 
						<a href="/{{id}}?do=revisions"><span class="bubble-icon"><i class="material-icons">access_time</i></span><span class="bubble-description">Revisionen</span></a> 
						<a href="/system:menu?do=edit"><span class="bubble-icon"><i class="material-icons">sort</i></span><span class="bubble-description">Menü bearbeiten</span></a> 
					</div>
				</div>
				{% if ( acl.admin ) %}
					<div class="bubble-menu"><a href="/?do=admin" class=""><span><i class="material-icons">settings</i></span></a>
						<div class="bubble-submenu">
							<a href="/start?do=admin&page=config" class="flex items-center"><span class="bubble-icon"><i class="material-icons">handyman</i></span><span class="bubble-description">Konfiguration</span></a> 
							<a href="/start?do=admin&page=extension" class="flex items-center"><span class="bubble-icon"><i class="material-icons">extension</i></span><span class="bubble-description">Plugins</span></a> 
							<a href="/start?do=admin&page=usermanager" class="flex items-center"><span class="bubble-icon"><i class="material-icons">people</i></span><span class="bubble-description">Benutzerverwaltung</span></a> 
							<a href="/system/templates" class="flex items-center"><span class="bubble-icon"><i class="material-icons">color_lens</i></span><span class="bubble-description">Templates</span></a> 
							<a href="/start?do=admin&page=acl" class="flex items-center"><span class="bubble-icon"><i class="material-icons">vpn_key</i></span><span class="bubble-description">Zugriffsrechte</span></a> 
							<a href="/start?do=admin&page=revert" class="flex items-center"><span class="bubble-icon"><i class="material-icons">history</i></span><span class="bubble-description">Seite wiederherstellen</span></a> 
						</div>
					</div>
				{% endif %}
				<div class="bubble-menu"><a href="/system/user/{{user.name}}?do=edit" class=""><span><i class="material-icons">person</i></span></a>
					<div class="bubble-submenu">
						<a href="/?do=profile" class="flex items-center"><span class="bubble-icon"><i class="material-icons">access_time</i></span><span class="bubble-description">Profil</span></a> 
						<a href="/?do=logout" class="flex items-center"><span class="bubble-icon"><i class="material-icons">lock</i></span><span class="bubble-description">Abmelden</span></a> 
					</div>
				</div>
			{% else %}
				<a href="/" class="pl-4 hidden whitespace-nowrap md:inline-block font-semibold  text-gray-900">{{ conf.tagline }}</a>
			{% endif %}
			<div class="md:hidden flex-1 text-right align-end pt-5 pr-2" >
				<button @click="open = !open" :class="{'is-active': open}" class="hamburger hamburger--collapse hamburger--3dx" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
				</button>
			</div>
			
			</div>

			<div :class="{'flex': open, 'hidden md:flex': !open}" class="w-full h-screen bg-opacity-90 bg-gray-600 py-12 px-4 mt-20 md:mt-0 md:p-0 bg-blur md:bg-white absolute md:static md:h-auto flex-col md:flex-row">
				<div x-show="searchbox || open" x-on:keydown.escape="searchbox = false"  @click.away="searchbox = false" style="display: none" class="md:-mt-5 md:inset-0 z-40 flex md:absolute md:bg-white text-black border-0 outline-none rounded-tl-m rounded-br-m" >
						<form class="search-form mb-2 self-end w-full flex md:content-end md:ml-36 relative" action="/start" role="search" id="dw__search" class="searchform">
						<input type="hidden" name="do" value="search">
						<input type="hidden" name="id" value="">
						
						<input style="padding-left: 40px !important" class="leading-none flex-grow pl-20 mr-2 outline-none border-2" x-ref="searchInput" name="q" id="qsearch__in" type="text" autofocus>
						<div class="absolute search-icon" style="margin-top: 9px; margin-left: 11px;"><i class="material-icons text-white md:text-gray-900">search</i></div>
						<button class="leading-none button primary hidden md:inline-block" type="submit" title="Suchen">Suchen</button>
						</form>
				</div>
				<nav x-show="!searchbox" class="flex-col flex-grow pb-4 md:p-0 md:ml-6 md:ml-0 md:mt-0 md:pb-0 md:flex md:justify-end md:flex-row flex">
				{% if menu %}
				{% for item in menu %}
					{% if item.children %}
						{% include "partials/menu-dropdown.twig" with {'menu': item.children} %}
					{% else %}
				
						<a href="/{{item.link}}" class="menu-item {% if (item.current or item.current_item_ancestor) %}bg-gray-200{% endif %}">
							<i class="material-icons md:hidden mr-4">{{item.icon}}</i>{{item.title}}
						</a>
						
				
					{% endif %} 
				{% endfor %}
					
				</nav>	
					
				{% endif %}
					
					<a href="#" @click="searchbox = true; $nextTick(() => { setTimeout(() => { document.getElementById('qsearch__in').focus(); }, 300);});" 
						class=" items-center flex lg:text-lg md:rounded-tl-xl md:rounded-br-xl hover:bg-gray-200 px-4 py-2 md:py-1 font-semibold md:mt-0"><i class="material-icons text-white md:text-gray-900">search</i> </a>
				
				
			</div>
		
			
			<div x-show="newPageModal" class="modal" style="display:none">
				
				<div class="modal-window" @click.away="newPageModal = false">
					<div class="modal-title">
						Neue Seite anlegen
					</div>
					<div class="modal-content">
						<div class="input-text">
							<label class="label" >Pfad</label>
							<input type="text" x-model="newPagePath">
						</div>
						<p class="text-xs"><b>Achtung: </b>Der Pfad darf Keine Leerzeichen und keine Umlaute oder Sonderzeichen enthalten. Leerzeichen können durch einen Unterstrich (_) ersetzt werden.</p>
					</div>
					<div class="modal-footer button-group">
						<a @click="newPageModal = false" class="button">Abbrechen</a><a x-bind:href="'/?id=' + newPagePath + '&do=edit'" class="button primary">Anlegen</a>
					</div>
				</div>
			</div>
			
	</div>
</div>




