<!DOCTYPE html>
<html lang="{{conf.lang}}" dir="{{lang.direction}}" class="no-js">

{% include "partials/head.twig" with {'colors': colors} %}

<body class="font-body antialiased mr-4 lg:mr-10 lg:text-lg {{tld}} {{ tpl_classes }} {{ metadata.subject|join(" ") }}">
    
    {% include "partials/menu.twig" with {'menu': menu} %}

    

    
    
            <div class="edit">
                <div id="vue-editor"></div>
            </div>
        </div>
    
    
    {% include "partials/footer.twig" %}

    <script>DOKU_ID = "{{id}}";</script>
    <script>DOKU_TPL = "{{tpl_basedir}}";</script>
    <script src="{{tpl_basedir}}/public/js/main.js" type="text/javascript"></script>
    <script src="{{tpl_basedir}}/public/js/app.js" type="text/javascript"></script>
    {{ tpl_indexerWebBug() }}
</body>
</html>