<!DOCTYPE html>
<html lang="{{conf.lang}}" dir="{{lang.direction}}">

{% include "partials/head.twig" with {'colors': colors} %}

<body class="font-body antialiased mr-4 lg:mr-10 lg:text-lg {{tld}} {{ tpl_classes }} {{ metadata.subject|join(" ") }}">
    
    {% include "partials/menu.twig" with {'menu': menu} %}
    
    <header class="bg-primary-light relative" style="padding-top: 20vh;">
    {% include "partials/breadcrumbs.twig" with {'breadcrumbs': breadcrumbs} %}
    {% if pageimage %}<img class="object-cover absolute inset-0 w-full h-full" src={{ ml(pageimage, 2000) }}>{% endif %}
    <div class="max-w-screen-xl mx-auto">
    
        <div class="relative inline-block bg-primary-transparent bg-opacity-75 bg-blur  rounded-tr-3xl text-white text-right" style="margin-left: -2000px; padding: 50px 50px 50px 2000px;">
            <div class="text-3xl ml-4 lg:ml-0 lg:text-5xl xl:mr-0 font-script pl-4 md:pl-8 xl:pl-0">{{tpl_pagetitle()}}</div>
        </div>
    </div>
    </header>

    <article class="bg-lightgray-lighter ">
        
        <section class="px-4 md:px-8 xl:px-0 py-8">
            <div class="content max-w-screen-xl mx-auto">
                {{ tpl_content(false) }}
            </div>
            
        </section>
        <div class="clear-both"></div>
        {% if metadata.subject is not empty %}
        <section class="bg-lightgray">
            <div class="max-w-screen-xl mx-auto px-4 md:px-8 xl:px-0 py-8">
                <h4>Schlagworte</h4>
                <div>
                {% for tag in metadata.subject %}
                    <a class="text-xs bg-darkgray ml-2 px-2 py-1 text-primary-contrast rounded-tl rounded-br" href="/tag/{{tag}}">{{tag|capitalize}}</a>
                {% endfor %}
                </div>
            </div>
        </section>
        {% endif %}
    </article>

    {% include "partials/footer.twig" %}

    <script>DOKU_TPL = "{{tpl_basedir}}";</script>
    <script src="{{tpl_basedir}}/public/js/main.js" type="text/javascript"></script>
    {{ tpl_indexerWebBug() }}
</body>
</html>