<!DOCTYPE html>
<html lang="{{conf.lang}}" dir="{{lang.direction}}">

{% include "partials/head.twig" with {'colors': colors} %}

<body class="font-body antialiased mr-4 lg:mr-10 lg:text-lg {{tld}} {{ tpl_classes }} {{ metadata.subject|join(" ") }}">
    
    {% include "partials/menu.twig" with {'menu': menu} %}
    
    <header class="bg-cover bg-primary-light relative" style="padding-top: 20vh;">
    {% include "partials/breadcrumbs.twig" with {'breadcrumbs': breadcrumbs} %}
    <div class="max-w-screen-xl mx-auto">
        <div class="relative inline-block bg-primary-transparent bg-opacity-75 bg-blur  rounded-tr-3xl text-white text-right" style="margin-left: -2000px; padding: 50px 50px 50px 2000px;">
            <div class="text-3xl ml-4 lg:ml-0 lg:text-5xl xl:mr-0 font-script">{{tag|capitalize}}</div>
        </div>
    </div>
    </header>
    <article class="bg-lightgray-lighter px-4 md:px-8 xl:px-0 py-8">
        <div class="max-w-screen-xl mx-auto">
            {% if page_exists %}
                    {{tpl_content(false) }}
            {% endif %}
            
            <div class="clear-both"></div>
            <div>
            {% for page in pages %}
                <a class="" href="{{page.link}}">
                    {% if page.image %}<img src="{{ml(page.image)}}">{% endif %}
                    <div class="text-primary font-bold">{{page.title}}</div>
                    <div>{{page.abstract}}</div>
                </a>
            {% endfor %}
            </div>
        </div>
    </article>
    

    {% include "partials/footer.twig" %}

    <script>DOKU_TPL = "{{tpl_basedir}}";</script>
    <script src="{{tpl_basedir}}/public/js/main.js" type="text/javascript"></script>
    {{ tpl_indexerWebBug() }}
</body>
</html>