<!DOCTYPE html>
<html lang="{{conf.lang}}" dir="{{lang.direction}}">

{% include "partials/head.twig" with {'colors': colors} %}

<body class="font-body pt-20 antialiased mr-4 lg:mr-10 lg:text-lg {{tld}} {{ tpl_classes }} {{ metadata.subject|join(" ") }}">
    
    {% include "partials/menu.twig" with {'menu': menu} %}
    <header class="bg-secondary relative" style="padding-top: 30vh;">
    {% include "partials/breadcrumbs.twig" with {'breadcrumbs': breadcrumbs} %}
    {% if pageimage %}<img class="object-cover absolute inset-0 w-full h-full" src={{ ml(pageimage, 2000) }}>
    {% else %}
        <img class="object-cover absolute inset-0 w-full h-full" src={{ ml(":background.jpg", 2000) }}>
    {% endif %}
    <div class="max-w-screen-xl mx-auto">
        <div class="relative inline-block bg-primary-transparent bg-opacity-75 bg-blur  rounded-tr-3xl text-white text-right" style="margin-left: -2000px; padding: 50px 50px 50px 2000px;">
            <div class="text-3xl ml-4 lg:ml-0 lg:text-5xl xl:mr-0 font-script pl-4 md:pl-8 xl:pl-0">{{tpl_pagetitle()}}</div>
        </div>
    </div>
    </header>
    
    <article class="bg-lightgray-lighter ">
        
            {% if page_exists %}
            <section class="bg-primary text-white px-4 md:px-8 xl:px-0 py-8">
                <div class="content max-w-screen-xl mx-auto">
                    {{tpl_content(false) }}
                </div>
            </section>
            {% endif %}
            
            <div class="clear-both"></div>
            <section class="bg-gray-200 px-4 md:px-8 xl:px-0 py-20">
                <div class="content max-w-screen-xl mx-auto">
                    <div class="grid grid-cols-3 gap-8">
                    {% for page in pages %}
                        <a class="card overflow-visible relative hover image-top bg-white" href="{{page.link}}">
                            {% if page.pageimage %}<img class="object-cover h-64 w-full" src="{{ml(page.pageimage, 500)}}">
                            {% else %}
                            <div class="h-64 bg-secondary grid place-items-center">
                                <span class="text-9xl material-icons opacity text-primary opacity-30">description</span>
                            </div>
                            {% endif %}
                            {% if page.category %}<div class="inline-block absolute right-0 -mt-4 bg-gray-800 text-white px-4 mr-4 rounded-tl-xl rounded-br-xl">{{page.category}}</div>{% endif %}
                            <div class="p-4">
                            
                                <div class="text-primary mt-4 font-bold">{{page.title}}</div>
                                {% if page.abstract is not  empty %}
                                    <div>{{page.abstract|striptags|slice(0, 100)}}...</div>
                                {% endif %}
                            </div>
                        </a>
                    
                    {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </article>
    

    {% include "partials/footer.twig" %}

    <script>DOKU_TPL = "{{tpl_basedir}}";</script>
    <script src="{{tpl_basedir}}/public/js/main.js" type="text/javascript"></script>
    {{ tpl_indexerWebBug() }}
</body>
</html>